@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.navbar{
    min-height: 8vh;
}

.solo-page{
    min-height: 92vh;
}

.w\-1\/12{
    width: 8.33%;
}

.w\-3\/12{
    width: 25%;
}

.w\-4\/12{
    width: 33.33%;
}

.w\-5\/12{
    width: 41.66%;
}

.w\-7\/12{
    width: 58.33%;
}

.w\-8\/12{
    width: 66.66%;
}

.mk-text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .navbar{
        height: 8vh;
        padding: 0% 2% 0% 2%;
    }
}