@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.navbar{
    min-height: 8vh;
}

.w-6\/12{
    width: 50%;
}

.w-10\/12{
    width: 83.333333%;
}

w-1\/12{	width: 8.333333%};
w-\/12{	width: 16.666667%};
w-3\/12{	width: 25%};
w-4\/12{	width: 33.333333%};
w-5\/12{	width: 41.666667%};
w-6\/12{	width: 50%};
w-7\/12{	width: 58.333333%};
w-8\/12{	width: 66.666667% !important};
w-9\/12{	width: 75%};
w-10\/12{	width: 83.333333%};
w-11\/12{	width: 91.666667%};

.solo-page{
    min-height: 92vh;
}

.mk-text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .navbar{
        height: 8vh;
        padding: 0% 2% 0% 2%;
    }
}